Repository manuel139/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

webp-screenshots:
  name: Screenshots must use WebP format
  entry: screenshot filenames must end in .webp
  language: fail

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

no-repeated-whitespace:
  name: No repeated spaces
  entry: \S+\s{2,}
  language: pygrep

format-urls:
  name: Format URLs
  entry: utils/format_urls.py
  language: python

add https://github.com/kbrgl/svelte-french-toast
  readme.md
  site/src/routes/index.svelte
  site/src/sites.yml
  site/static/screenshots/svelte-french-toast.small.webp
  site/static/screenshots/svelte-french-toast.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add https://github.com/gereleth/hexapipes
  readme.md
  site/src/sites.yml
  site/static/screenshots/hexapipes.small.webp
  site/static/screenshots/hexapipes.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

sveltekit routes auto migration
  readme.md
  site/package.json
  site/src/routes/+error.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.svelte
  site/src/routes/[slug].ts
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/src/sites.yml
  site/tsconfig.json
  site/yarn.lock
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

move Date to pretty string conversion from SiteDetails.svelte to [slug]/+page.server.ts
  readme.md
  site/src/components/SiteDetails.svelte
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Kitcommerce repo added (#75)
  readme.md
  site/src/components/SiteDetails.svelte
  site/src/sites.yml
  site/static/screenshots/kitcommerce.small.webp
  site/static/screenshots/kitcommerce.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

better error reporting for missing tool URLs in SiteDetails.svelte
  readme.md
  site/src/components/SiteDetails.svelte
  site/src/sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add https://github.com/mattcroat/joy-of-code
  readme.md
  site/src/sites.yml
  site/static/screenshots/joy-of-code.small.webp
  site/static/screenshots/joy-of-code.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

fix bug in arr_includes() hiding sites without contributors on index page
  site/src/routes/+page.svelte
  site/src/sites.yml
  site/static/screenshots/beatbump.small.webp
  site/static/screenshots/beatbump.webp
  site/static/screenshots/gitpod.small.webp
  site/static/screenshots/gitpod.webp
  site/static/screenshots/graphcms-starter-blog.small.webp
  site/static/screenshots/graphcms-starter-blog.webp
  site/static/screenshots/kudadam.com.small.webp
  site/static/screenshots/kudadam.com.webp
  site/static/screenshots/mermaid-live-editor.small.webp
  site/static/screenshots/mermaid-live-editor.webp
  site/static/screenshots/periodic-table.small.webp
  site/static/screenshots/periodic-table.webp
  site/static/screenshots/urara.small.webp
  site/static/screenshots/urara.webp
  site/static/screenshots/windmill.small.webp
  site/static/screenshots/windmill.webp
Due: no-http, no-repeated-whitespace

improve GH star count formatting
  site/package.json
  site/scripts/screenshots.js
  site/src/components/SiteDetails.svelte
  site/src/components/SiteList.svelte
  site/src/routes/+error.svelte
  site/src/routes/+layout.ts
  site/src/routes/[slug]/+page.svelte
  site/svelte.config.js
  site/vite.config.ts
  site/yarn.lock
Due: no-repeated-whitespace

Add site: https://github.com/kwchang0831/svelte-QWER (#76)
  readme.md
  site/src/sites.yml
  site/static/screenshots/qwer.small.webp
  site/static/screenshots/qwer.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add https://stemroller.com
  readme.md
  site/src/sites.yml
  site/static/screenshots/stemroller.small.webp
  site/static/screenshots/stemroller.webp
  site/tsconfig.json
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

list contributors on landing page
  readme.md
  site/src/components/Filters.svelte
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/static/awesome-sveltekit-banner.svg
  site/static/favicon.svg
  site/static/sveltekit.svg
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

mv src/{components->lib}
  site/src/lib/Contributor.svelte
  site/src/lib/Filters.svelte
  site/src/lib/RadioButtons.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/routes/+layout.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.svelte
  site/vite.config.ts
Due: no-repeated-whitespace

convert icons to @iconify/svelte
  readme.md
  site/package.json
  site/src/lib/Contributor.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/sites.yml
  site/tsconfig.json
  site/vite.config.ts
  site/yarn.lock
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add housesof.world website (#79)
  readme.md
  site/package.json
  site/src/lib/Contributor.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/sites.yml
  site/static/screenshots/houses-of-world.small.webp
  site/static/screenshots/houses-of-world.webp
  site/tsconfig.json
  site/yarn.lock
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

extract index page contributors to new ContributorList.svelte component
  .github/workflows/new-site.yml
  site/src/lib/Contributor.svelte
  site/src/lib/ContributorList.svelte
  site/src/lib/Filters.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/routes/+layout.ts
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/types.ts
Due: no-http, no-repeated-whitespace

add PrevNextSite.svelte to site detail pages
  site/package.json
  site/scripts/fetch-github-metadata.js
  site/src/app.css
  site/src/app.html
  site/src/lib/PrevNextSite.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/routes/+error.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/yarn.lock
Due: no-repeated-whitespace

Add Omnia Editor (#81)
  readme.md
  site/package.json
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.ts
  site/src/sites.yml
  site/src/stores.ts
  site/src/types.ts
  site/static/screenshots/omnia-editor.small.webp
  site/static/screenshots/omnia-editor.webp
  site/yarn.lock
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

`yarn` to `pnpm` (#82)
  .github/workflows/new-site.yml
  .pre-commit-config.yaml
  netlify.toml
  site/package.json
  site/pnpm-lock.yaml
  site/src/routes/[slug]/+page.server.ts
  site/yarn.lock
Due: no-http, no-repeated-whitespace

auto delete screenshots of removed sites
  readme.md
  site/package.json
  site/scripts/screenshots.js
  site/src/sites.yml
  site/static/screenshots/afara.small.webp
  site/static/screenshots/afara.webp
  site/static/screenshots/ocean-artup.small.webp
  site/static/screenshots/ocean-artup.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add skeleton.dev and svelte-multiselect.netlify.app (#83)
  readme.md
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.svelte
  site/src/sites.yml
  site/static/screenshots/skeleton.small.webp
  site/static/screenshots/skeleton.webp
  site/static/screenshots/svelte-multiselect.small.webp
  site/static/screenshots/svelte-multiselect.webp
  site/vite.config.ts
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

fix broken links reported by CI run
  readme.md
  site/src/lib/Filters.svelte
  site/src/routes/+page.svelte
  site/src/sites.yml
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add octocat logo to repo star badges
  readme.md
  site/package.json
  site/pnpm-lock.yaml
  site/scripts/update-readme.js
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

document open-source requirement for new sites in readme and landing page (raised in #84)
  readme.md
  site/src/routes/+page.svelte
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Fireship (#85)
  readme.md
  site/src/routes/+page.svelte
  site/src/sites.yml
  site/static/screenshots/fireship.small.webp
  site/static/screenshots/fireship.webp
  site/svelte.config.js
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Deploy site to GitHub Pages (#86)
  .github/workflows/gh-pages.yml
  .gitignore
  netlify.toml
  readme.md
  site/package.json
  site/pnpm-lock.yaml
  site/src/app.css
  site/src/app.html
  site/src/lib/PrevNextSite.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SitePreview.svelte
  site/src/routes/+error.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/src/sites.yml
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Intl Explorer (#87)
  readme.md
  site/src/sites.yml
  site/static/screenshots/geometric-bayes-theorem.small.webp
  site/static/screenshots/geometric-bayes-theorem.webp
  site/static/screenshots/intl-explorer.small.webp
  site/static/screenshots/intl-explorer.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

mv utils into .github
  .github/PULL_REQUEST_TEMPLATE.md
  .github/format_urls.py
  .github/workflows/link-check-config.json
  .github/workflows/link-check.yml
  .github/yamllint.yml
  .pre-commit-config.yaml
  site/scripts/update-readme.js
  site/src/app.d.ts
  site/src/lib/SiteDetails.svelte
  tools.yml
  utils/markdown_link_check_config.json
Due: no-bracket-links, no-http, no-repeated-whitespace

link to repo subpages (/network, /contributors, etc.) from SiteDetails.svelte
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/pnpm-lock.yaml
  site/src/lib/SiteDetails.svelte
  site/src/routes/[slug]/+page.svelte
  site/src/sites.yml
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

SvelteKit Embed
  readme.md
  site/src/sites.yml
  site/static/screenshots/sveltekit-embed.small.webp
  site/static/screenshots/sveltekit-embed.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add SvelteKit static blog starter
  .github/workflows/gh-pages.yml
  .github/workflows/new-site.yml
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/pnpm-lock.yaml
  site/scripts/index.js
  site/src/routes/+layout.svelte
  site/src/routes/+page.server.ts
  site/src/sites.yml
  site/static/screenshots/periodic-table.small.webp
  site/static/screenshots/periodic-table.webp
  site/static/screenshots/sveltekit-static-blog-starter.small.webp
  site/static/screenshots/sveltekit-static-blog-starter.webp
  site/static/screenshots/sveriodic-table.small.webp
  site/static/screenshots/sveriodic-table.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add svelte-put
  readme.md
  site/package.json
  site/src/app.css
  site/src/sites.yml
  site/static/screenshots/svelte-put.small.webp
  site/static/screenshots/svelte-put.webp
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add sveltekit-mdsvex-blog
  readme.md
  site/package.json
  site/scripts/fetch-github-metadata.js
  site/src/sites.yml
  site/static/screenshots/sveltekit-mdsvex-blog.small.webp
  site/static/screenshots/sveltekit-mdsvex-blog.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

define kit.alias $site+$root for cleaner imports
  site/package.json
  site/src/app.d.ts
  site/src/lib/Contributor.svelte
  site/src/lib/ContributorList.svelte
  site/src/lib/Filters.svelte
  site/src/lib/PrevNextSite.svelte
  site/src/lib/RadioButtons.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/lib/index.ts
  site/src/lib/stores.ts
  site/src/lib/types.ts
  site/src/routes/+error.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/src/sites.d.ts
  site/svelte.config.js
Due: no-repeated-whitespace

Playwright (#94)
  .github/workflows/test.yml
  readme.md
  site/package.json
  site/playwright.config.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.svelte
  site/tests/site.test.ts
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add arrow key + enter navigation on landing page
  site/src/lib/Filters.svelte
  site/src/lib/PrevNextSite.svelte
  site/src/lib/SiteList.svelte
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.svelte
  site/src/sites.yml
  site/static/screenshots/graphcms-starter-blog.small.webp
  site/static/screenshots/graphcms-starter-blog.webp
  site/static/screenshots/official-sveltekit-docs.small.webp
  site/static/screenshots/official-sveltekit-docs.webp
  site/static/screenshots/sveltekit-experiments.small.webp
  site/static/screenshots/sveltekit-experiments.webp
  site/tests/site.test.ts
Due: no-http, no-repeated-whitespace

add note to PR template that new sites must be open source
  .github/PULL_REQUEST_TEMPLATE.md
  site/package.json
  site/src/app.d.ts
  site/src/lib/Contributor.svelte
  site/src/lib/ContributorList.svelte
  site/src/lib/PrevNextSite.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/lib/index.ts
  site/src/lib/stores.ts
  site/src/lib/types.ts
  site/src/routes/+page.server.ts
  site/src/sites.d.ts
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

display GitHub avatars on detail pages and days since project started (in tooltip)
  readme.md
  site/package.json
  site/src/app.html
  site/src/lib/Contributor.svelte
  site/src/lib/SiteDetails.svelte
  site/src/routes/[slug]/+page.svelte
  site/src/sites.yml
  site/static/screenshots/elementari.small.webp
  site/static/screenshots/elementari.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add sveltekit-typescript-showcase
  readme.md
  site/src/app.d.ts
  site/src/sites.d.ts
  site/src/sites.yml
  site/static/screenshots/sveltekit-typescript-showcase.small.webp
  site/static/screenshots/sveltekit-typescript-showcase.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add svelte-command-palette
  readme.md
  site/src/lib/ContributorList.svelte
  site/src/sites.yml
  site/static/screenshots/svelte-command-palette.small.webp
  site/static/screenshots/svelte-command-palette.webp
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Path conditions:
  webp-screenshots: any of: ^site/static/screenshots/.*(?<!\.webp)$
  no-bracket-links: any of: \.(md|markdown|mdown)$
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: .pre-commit-config.yaml
  no-repeated-whitespace: any file but: \.(js|mjs|cjs)$
  format-urls: any of: ^(sites.yml|readme.md|utils/format_urls.py)$
