Repository manuel139/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        args: [--config, site/.prettierrc.yml, --write] # edit files in-place
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte
          - svelte

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        args: [--config-file, utils/.yamllint.yml]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.30.0
    hooks:
      - id: markdownlint
        # MD013: line too long
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, '--']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        stages: [commit, commit-msg]
        exclude: yarn.lock

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.6.0
    hooks:
      - id: eslint
        types: [file]
        files: \.(svelte|js)$
        args: [--plugin, eslint-plugin-svelte3]
        additional_dependencies:
          - eslint
          - svelte
          - typescript
          - eslint-plugin-svelte3
          - '@typescript-eslint/eslint-plugin'
          - '@typescript-eslint/parser'

  - repo: local
    hooks:
      - id: webp-screenshots
        name: Screenshots must use WebP format
        entry: screenshot filenames must end in .webp
        language: fail
        files: '^site/static/screenshots/.*(?<!\.webp)$'

  - repo: local
    hooks:
      - id: no-bracket-links
        name: 'Brackets should not be inside links [[link]](url) -> [[link](url)]'
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

  - repo: local
    hooks:
      - id: no-http
        name: URLs must use HTTPS
        entry: 'http:'
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

  - repo: local
    hooks:
      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude_types: [javascript]

  - repo: local
    hooks:
      - id: format-urls
        name: Format URLs
        entry: utils/format_urls.py
        language: python
        files: ^(sites.yml|readme.md|utils/format_urls.py)$

add repo for MortimerBaltus.com
  site/src/sites.yml
Due: no-http, no-repeated-whitespace

add inlang (#61)
  readme.md
  site/src/sites.yml
  site/static/screenshots/inlang-dashboard.small.webp
  site/static/screenshots/inlang-dashboard.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Auto-add 'open source' tag for sites that have a repo field (#62)
  readme.md
  site/scripts/parseSitesYaml.js
  site/scripts/screenshots.js
  site/src/routes/index.svelte
  site/src/sites.yml
  site/static/screenshots/impfdashboard.small.webp
  site/static/screenshots/impfdashboard.webp
  site/static/screenshots/mortimerbaltus.small.webp
  site/static/screenshots/mortimerbaltus.webp
  site/static/screenshots/nytimes-tracking-the-coronavirus.small.webp
  site/static/screenshots/nytimes-tracking-the-coronavirus.webp
  site/static/screenshots/svelte-themes.small.webp
  site/static/screenshots/svelte-themes.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

fix SvelteKit broken siteSrc, fix parseSitesYaml.js to always reflect changes in sites.yml to site/src/sites.yml
  .github/PULL_REQUEST_TEMPLATE.md
  readme.md
  site/scripts/parseSitesYaml.js
  site/scripts/readmeSiteList.js
  site/scripts/screenshots.js
  site/src/sites.yml
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

update deps + address svelte-multiselect@4.0.0 breaking changes
  netlify.toml
  site/package.json
  site/src/components/Filters.svelte
  site/yarn.lock
Due: no-repeated-whitespace

update urara uses
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

Refactor GHA workflows (#66)
  .github/workflows/link-check.yml
  .github/workflows/new-site.yml
  readme.md
  site/scripts/index.js
  site/scripts/parseSitesYaml.js
  site/scripts/readmeSiteList.js
  site/scripts/screenshots.js
  site/src/sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add site 45 https://houdinigraphql.com (#67)
  .github/workflows/new-site.yml
  readme.md
  site/package.json
  site/src/app.d.ts
  site/src/components/Filters.svelte
  site/src/routes/[slug].ts
  site/src/routes/index.svelte
  site/src/sites.yml
  site/static/global.css
  site/static/screenshots/houdini-graphql.small.webp
  site/static/screenshots/houdini-graphql.webp
  site/svelte.config.js
  site/tsconfig.json
  site/yarn.lock
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Small improvements to the site filter UI (#68)
  .pre-commit-config.yaml
  site/package.json
  site/src/components/Filters.svelte
  site/src/components/SiteList.svelte
  site/src/routes/index.svelte
  site/src/stores.ts
  site/static/global.css
  site/yarn.lock
Due: no-repeated-whitespace

Add site 46 https://concertmash.com (#69)
  .pre-commit-config.yaml
  readme.md
  site/src/sites.yml
  site/static/screenshots/concertmash.small.webp
  site/static/screenshots/concertmash.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

fix site/scripts/parseSitesYaml.js: retain only fetched GitHub data from old_sites
  readme.md
  site/scripts/parseSitesYaml.js
  site/src/sites.yml
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add site.repoStars to SiteDetails.svelte
  site/src/components/Contributor.svelte
  site/src/components/SiteDetails.svelte
  site/src/components/SiteList.svelte
Due: no-repeated-whitespace

Filters.svelte only show tags with > 2 occurrences
  site/src/components/Filters.svelte
  site/src/routes/index.svelte
Due: no-repeated-whitespace

persist filter settings on site navigation and page reloads
  site/package.json
  site/src/components/Filters.svelte
  site/src/components/SiteList.svelte
  site/src/routes/index.svelte
  site/src/stores.ts
  site/yarn.lock
Due: no-repeated-whitespace

Graph libs (#71)
  .pre-commit-config.yaml
  readme.md
  site/scripts/fetch-github-metadata.js
  site/scripts/index.js
  site/scripts/update-readme.js
  site/src/app.css
  site/src/app.html
  site/src/components/Filters.svelte
  site/src/routes/__layout.svelte
  site/src/sites.yml
  site/static/screenshots/layer-cake.small.webp
  site/static/screenshots/layer-cake.webp
  site/static/screenshots/pancake.small.webp
  site/static/screenshots/pancake.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add https://svelte-headlessui.goss.io
  readme.md
  site/src/sites.yml
  site/static/screenshots/svelte-headless-ui.small.webp
  site/static/screenshots/svelte-headless-ui.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add site https://sveltematerialui.com
  readme.md
  site/src/sites.yml
  site/static/screenshots/svelte-material-ui.small.webp
  site/static/screenshots/svelte-material-ui.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

replace @svicons svg icons with @iconify
  site/package.json
  site/src/components/Contributor.svelte
  site/src/components/Filters.svelte
  site/src/components/SiteDetails.svelte
  site/src/components/SiteList.svelte
  site/src/routes/index.svelte
  site/src/stores.ts
  site/svelte.config.js
  site/tsconfig.json
  site/yarn.lock
Due: no-repeated-whitespace

turn 'uses' list on site detail pages into clickable links
  readme.md
  site/scripts/fetch-github-metadata.js
  site/scripts/update-readme.js
  site/src/components/Contributor.svelte
  site/src/components/SiteDetails.svelte
  site/src/components/SiteList.svelte
  site/src/routes/index.svelte
  site/src/sites.yml
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add https://fluent-svelte.vercel.app and http://sveltekit-on-the-edge.vercel.app
  .github/PULL_REQUEST_TEMPLATE.md
  readme.md
  site/src/sites.yml
  site/static/screenshots/fluent-svelte.small.webp
  site/static/screenshots/fluent-svelte.webp
  site/static/screenshots/sveltekit-on-edge.small.webp
  site/static/screenshots/sveltekit-on-edge.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add https://evidence.dev
  readme.md
  site/src/sites.yml
  site/src/stores.ts
  site/static/screenshots/evidence.small.webp
  site/static/screenshots/evidence.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add https://coolify.io
  .gitignore
  readme.md
  site/src/sites.yml
  site/static/screenshots/coolify.small.webp
  site/static/screenshots/coolify.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

bump NODE_VERSION to 18 and yarn remove node-fetch
  netlify.toml
  site/package.json
  site/scripts/fetch-github-metadata.js
  site/src/sites.yml
  site/yarn.lock
Due: no-http, no-repeated-whitespace

add https://flowbite-svelte.com and https://finder.eddiehub.io
  readme.md
  site/src/sites.yml
  site/static/screenshots/flowbite.small.webp
  site/static/screenshots/flowbite.webp
  site/static/screenshots/good-first-issue-finder.small.webp
  site/static/screenshots/good-first-issue-finder.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

update-readme.js link star badges to github stargazers pages
  netlify.toml
  readme.md
  site/scripts/update-readme.js
  site/src/routes/index.svelte
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add https://github.com/janosh/periodic-table, https://github.com/liveblocks/pixel-art-together, https://github.com/bestguy/sveltestrap
  readme.md
  site/package.json
  site/src/app.html
  site/src/sites.yml
  site/static/screenshots/periodic-table.small.webp
  site/static/screenshots/periodic-table.webp
  site/static/screenshots/pixel-art-together.small.webp
  site/static/screenshots/pixel-art-together.webp
  site/static/screenshots/sveltestrap.small.webp
  site/static/screenshots/sveltestrap.webp
  site/yarn.lock
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add https://github.com/oslabs-beta/Svelvet
  readme.md
  site/src/app.d.ts
  site/src/sites.yml
  site/static/screenshots/svelvet.small.webp
  site/static/screenshots/svelvet.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

allow filtering by contributors
  site/src/components/Filters.svelte
  site/src/components/SiteList.svelte
  site/src/routes/index.svelte
  site/src/stores.ts
Due: no-repeated-whitespace

SiteList + SiteDetails CSS tweaks
  site/src/components/SiteDetails.svelte
  site/src/components/SiteList.svelte
Due: no-repeated-whitespace

refactor index.svelte site filtering
  site/scripts/fetch-github-metadata.js
  site/scripts/index.js
  site/src/components/Filters.svelte
  site/src/routes/[slug].svelte
  site/src/routes/index.svelte
  site/src/stores.ts
Due: no-repeated-whitespace

add https://github.com/cupcakearmy/cryptgeon and https://github.com/cibernox/svelte-intl-precompile
  readme.md
  site/src/sites.yml
  site/static/screenshots/cryptgeon.small.webp
  site/static/screenshots/cryptgeon.webp
  site/static/screenshots/svelte-intl-precompile.small.webp
  site/static/screenshots/svelte-intl-precompile.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add https://github.com/windmill-labs/windmill
  readme.md
  site/src/components/SiteDetails.svelte
  site/src/sites.yml
  site/static/screenshots/geometric-bayes-theorem.small.webp
  site/static/screenshots/geometric-bayes-theorem.webp
  site/static/screenshots/windmill.small.webp
  site/static/screenshots/windmill.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

change site properties from camel to snake case
  site/scripts/fetch-github-metadata.js
  site/scripts/update-readme.js
  site/src/components/SiteDetails.svelte
  site/src/components/SiteList.svelte
  site/src/routes/index.svelte
  site/src/sites.yml
  site/src/types.ts
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

add file-contents-sorter pre-commit hook for uses-links.yml
  .pre-commit-config.yaml
  site/scripts/fetch-github-metadata.js
  site/src/components/SiteDetails.svelte
  site/src/sites.yml
Due: no-http, no-repeated-whitespace

update deps, add site/vite.config.ts
  site/package.json
  site/scripts/fetch-github-metadata.js
  site/src/app.html
  site/src/components/SiteDetails.svelte
  site/src/sites.yml
  site/svelte.config.js
  site/vite.config.ts
  site/yarn.lock
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

rename repo and site from awesome-svelte-kit to awesome-sveltekit
  readme.md
  site/package.json
  site/src/app.html
  site/src/routes/index.svelte
  site/static/sveltekit.svg
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add svelte:head title, desc and og/twitter SEO meta tags
  site/src/app.html
  site/src/components/Screenshot.svelte
  site/src/routes/[slug].svelte
  site/src/routes/index.svelte
Due: no-repeated-whitespace

add https://github.com/threlte/threlte
  readme.md
  site/src/sites.yml
  site/static/screenshots/threlte.small.webp
  site/static/screenshots/threlte.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

update to vite v3
  .github/PULL_REQUEST_TEMPLATE.md
  netlify.toml
  readme.md
  site/package.json
  site/src/routes/[slug].ts
  site/src/routes/index.svelte
  site/yarn.lock
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls
