Repository manuel139/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

webp-screenshots:
  name: Screenshots must use WebP format
  entry: screenshot filenames must end in .webp
  language: fail

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

no-repeated-whitespace:
  name: No repeated spaces
  entry: \S+\s{2,}
  language: pygrep

format-urls:
  name: Format URLs
  entry: utils/format_urls.py
  language: python

NPM links (#96)
  readme.md
  site/src/lib/Person.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/index.ts
  site/src/sites.yml
  site/static/screenshots/sveltepress.small.webp
  site/static/screenshots/sveltepress.webp
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add svelte-legos (#97)
  readme.md
  site/package.json
  site/src/app.css
  site/src/routes/+layout.svelte
  site/src/sites.yml
  site/static/screenshots/svelte-legos.small.webp
  site/static/screenshots/svelte-legos.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

rm site/src/lib/PrevNextSite.svelte
  .github/workflows/gh-pages.yml
  .github/workflows/test.yml
  site/.eslintrc.yml
  site/package.json
  site/playwright.config.ts
  site/src/lib/PrevNextSite.svelte
  site/src/lib/SitePreview.svelte
  site/src/lib/index.ts
  site/src/routes/+layout.svelte
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/tsconfig.json
  site/vite.config.ts
Due: no-http, no-repeated-whitespace

fix date_created display in SiteDetails, remove 'Date last updated' from sort_by options
  site/src/lib/Filters.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/index.ts
  site/src/routes/+page.svelte
Due: no-repeated-whitespace

Refactor scripts to task functions callable from `vite.config.ts` (#101)
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/src/scripts/fetch-github-metadata.ts
  site/src/scripts/index.ts
  site/src/scripts/screenshots.ts
  site/src/scripts/update-readme.ts
  site/src/sites.yml
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/index.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/static/screenshots/watch-this.avif
  site/static/screenshots/watch-this.small.avif
  site/vite.config.ts
  sites.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

Fix CI (#102)
  .github/workflows/gh-pages.yml
  .github/workflows/new-site.yml
  .github/workflows/test.yml
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/tests/site.test.ts
  site/vite.config.ts
Due: no-http, no-repeated-whitespace

update 404 links if new ones available from repo, else remove site
  readme.md
  site/package.json
  site/src/routes/[slug]/+page.svelte
  site/src/sites.yml
  site/src/tasks/index.ts
  site/src/tasks/screenshots.ts
  site/static/screenshots/brittneypostma.com.avif
  site/static/screenshots/brittneypostma.com.small.avif
  site/static/screenshots/inlang-dashboard.avif
  site/static/screenshots/inlang-dashboard.small.avif
  site/static/screenshots/inlang.avif
  site/static/screenshots/inlang.small.avif
  site/static/screenshots/kitcommerce.avif
  site/static/screenshots/kitcommerce.small.avif
  site/static/screenshots/kudadam.com.avif
  site/static/screenshots/kudadam.com.small.avif
  site/static/screenshots/omnia-editor.avif
  site/static/screenshots/omnia-editor.small.avif
  site/static/screenshots/svelte-commerce.avif
  site/static/screenshots/svelte-commerce.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

add editable-website
  .pre-commit-config.yaml
  readme.md
  site/src/routes/+page.svelte
  site/src/sites.yml
  site/static/screenshots/editable-website.avif
  site/static/screenshots/editable-website.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

add https://huggingface.co/chat
  readme.md
  site/src/lib/SiteDetails.svelte
  site/src/sites.yml
  site/static/screenshots/chat-ui.avif
  site/static/screenshots/chat-ui.small.avif
  site/vite.config.ts
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

add entry requirements for new sites to readme.md and PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  readme.md
  site/package.json
  site/src/routes/+page.svelte
  site/src/sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add team-health-check-coral.vercel.app (#103)
  readme.md
  site/src/sites.yml
  site/static/screenshots/team-health-check.avif
  site/static/screenshots/team-health-check.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

add https://sveltelab.dev
  readme.md
  site/package.json
  site/src/sites.yml
  site/static/screenshots/sveltelab.avif
  site/static/screenshots/sveltelab.small.avif
  sites.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add significa.co 🥚 (#104)
  readme.md
  site/src/sites.yml
  site/static/screenshots/significa.co.avif
  site/static/screenshots/significa.co.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

tweak main max-width, fix broken link, update deps Svelte to v4
  readme.md
  site/package.json
  site/src/app.css
  site/src/lib/SiteList.svelte
  site/src/routes/[slug]/+page.svelte
  site/src/sites.yml
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

DRY GH workflows
  .github/workflows/gh-pages.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: no-http, no-repeated-whitespace

Migrate from `eslint-plugin-svelte3` to `eslint-plugin-svelte` (#109)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/new-site.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  site/.eslintrc.yml
  site/package.json
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteList.svelte
  site/src/routes/+layout.svelte
  site/src/routes/[slug]/+page.svelte
Due: no-bracket-links, no-http, no-repeated-whitespace

update elementari description
  .pre-commit-config.yaml
  readme.md
  site/.eslintrc.yml
  site/package.json
  site/src/sites.yml
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add https://shadcn-svelte.com (#111)
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/src/app.html
  site/src/lib/stores.ts
  site/src/routes/+page.server.ts
  site/src/sites.yml
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/static/screenshots/shadcn-svelte.avif
  site/static/screenshots/shadcn-svelte.small.avif
  site/tests/site.test.ts
  site/vite.config.ts
  sites.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

add learn.svelte.dev
  readme.md
  site/package.json
  site/src/sites.yml
  site/static/screenshots/learn.svelte.dev.avif
  site/static/screenshots/learn.svelte.dev.small.avif
  site/vite.config.ts
  sites.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

Sort sites in readme by descending number of GitHub stars (#112)
  readme.md
  site/src/lib/index.ts
  site/src/sites.yml
  site/src/tasks/update-readme.ts
  site/static/screenshots/studenten-bilden-schüler.avif
  site/static/screenshots/studenten-bilden-schüler.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add https://dotfyle.com (#113)
  .github/workflows/link-check-config.json
  readme.md
  site/package.json
  site/src/sites.yml
  site/src/tasks/update-readme.ts
  site/static/screenshots/dotfyle.avif
  site/static/screenshots/dotfyle.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add tRPC-SvelteKit (#114)
  readme.md
  site/package.json
  site/src/sites.yml
  site/static/screenshots/trpc-sveltekit.avif
  site/static/screenshots/trpc-sveltekit.small.avif
  sites.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

Update repo stats (#115)
  .github/workflows/new-site.yml
  readme.md
  site/src/sites.yml
  site/static/screenshots/chat-ui.avif
  site/static/screenshots/chat-ui.small.avif
  site/static/screenshots/coolify.avif
  site/static/screenshots/coolify.small.avif
  site/static/screenshots/evidence.avif
  site/static/screenshots/evidence.small.avif
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add https://asm-editor.specy.app (#116)
  readme.md
  site/package.json
  site/src/sites.yml
  site/src/tasks/fetch-github-metadata.ts
  site/static/screenshots/asm-editor.avif
  site/static/screenshots/asm-editor.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

update pre-commit hooks
  .pre-commit-config.yaml
  site/src/sites.yml
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

Add https://github.com/ollama-webui/ollama-webui (#120)
  .github/workflows/link-check.yml
  .github/workflows/new-site.yml
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/src/sites.yml
  site/static/screenshots/ollama-web-ui.avif
  site/static/screenshots/ollama-web-ui.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add immich.app (#121)
  readme.md
  site/src/sites.yml
  site/static/screenshots/immich.avif
  site/static/screenshots/immich.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

hook up highlight_matches action to site list search input to color+underline query matches
  readme.md
  site/package.json
  site/src/app.css
  site/src/lib/SiteList.svelte
  site/src/tasks/update-readme.ts
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

fix missing tools, update deps
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/src/sites.yml
  site/src/tasks/fetch-github-metadata.ts
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add Svead head component (#123)
  .pre-commit-config.yaml
  readme.md
  site/.eslintrc.yml
  site/eslint.config.js
  site/package.json
  site/src/sites.yml
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/static/screenshots/svead.avif
  site/static/screenshots/svead.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add `svelte-passkeys` (#122)
  readme.md
  site/src/sites.yml
  site/static/screenshots/passkey-authentication-starter.avif
  site/static/screenshots/passkey-authentication-starter.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add barnsworthburning.net (#126)
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/src/sites.yml
  site/src/tasks/screenshots.ts
  site/static/screenshots/barnsworthburning.avif
  site/static/screenshots/barnsworthburning.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

docs: update readme.md
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Update readme.md
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Path conditions:
  webp-screenshots: any of: ^site/static/screenshots/.*(?<!\.webp)$
  no-bracket-links: any of: \.(md|markdown|mdown)$
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: .pre-commit-config.yaml
  no-repeated-whitespace: any file but: \.(js|mjs|cjs)$
  format-urls: any of: ^(sites.yml|readme.md|utils/format_urls.py)$
